.task-item {
  min-height: 50px;
  background-color: white;
  border-radius: 18px;
  border: 1px solid #676060;
  margin-bottom: 5px;
}

.checkbox_input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 8px 10px;
  cursor: pointer;
  text-align: left;
}

.checkbox__text:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}

.checkbox_input_checked + .checkbox__text:after {
  content: "✔";
  text-align: center;
}
